
    /* Réinitialisation des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.11);
    background-image: url(./images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Style du conteneur principal */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style du titre de la page */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style du formulaire */
form {
    text-align: center;
}

/* Style des champs de saisie */
input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
}

/* Style du bouton de soumission */
input[type="submit"] {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Changement de couleur du bouton au survol */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style pour les messages d'erreur */
.error-message {
    color: #ff0000;
    text-align: center;
    margin-top: 10px;
}

/* Style pour les messages de succès */
.success-message {
    color: #008000;
    text-align: center;
    margin-top: 10px;
}

