body {
    background-image: url('./1920-castle-image-wx-5cg94332py.webp');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: aliceblue;
     /* Police de caractères */
  }
  
  table {
    width: 70%; /* Largeur de la table */
    border-collapse: collapse; /* Fusionner les bordures */
    margin-top: 20px; /* Marge en haut de la table */
  }
  
  table, th, td {
    border: 1px solid black; /* Bordures de la table, des cellules de l'en-tête et du corps */
    padding: 8px; 
    color: black;/* Espacement interne des cellules */
  }
  
  th {
    background-color: #f2f2f246; /* Couleur de fond de l'en-tête */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f24d; /* Couleur de fond des lignes paires */
    height: 100px;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff4a; /* Couleur de fond des lignes impaires */
    height: 100px;
  }
  
 video{
    text-align: center;
 }
 img {
  width: 30%;
  height: 30%;
 }